# Hands on Python Data Science - Data Science Bootcamp - Part-1

In [1]:
print ("Hello World! ")

Hello World!
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

To Know what each function does: use ??

In [2]:
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

### CRUD in Python 
which means the four basic operations for managing data: Create, Read, Update, and Delete.

CRUD = C - Creat , R - Read , U - Update , D - Delete

## 1. Variables

In [3]:
my_friend = ("Alex is my friend")

In [4]:
print (my_friend)

Alex is my friend

In [5]:
type(my_friend)

str


## 2. Different Data Types

In [6]:
#This is a Strings data type

String_one = "This is my String"
print(String_one)
type(String_one)

This is my String

str

In [7]:
#This is a Integer data type : (Whole Numbers)

Integer_one = 26
print(Integer_one)
type(Integer_one)

26

int

In [8]:
Integer_one + 20

46

In [9]:
#This is a Float data type: (Decimal Numbers)

Float_one = 26.01
print(Float_one)
type(Float_one)

26.01

float

In [10]:
Float_one - 10.02

15.990000000000002

In [11]:
#This is a Boolean data type     # True/False or 1/0

Boolean_one = True  # or can be False
print(Boolean_one)
type(Boolean_one)

True

bool

In [12]:
## inside a " " 
Boolean_two = "True" 
print(Boolean_two)
type(Boolean_two)

True

str

In [13]:
#Boolean data type 1/0

Boolean_1 = bool(0)
print(Boolean_1)
type(Boolean_1)

False

bool

In [14]:
#This is a List data type : list[] is mutable - update the values 

A_list = [ 12, 16, 26.01, True, 36, "Doll" ]    #Index Numbering 
        #  0,   1,    2,   3,   4,    5

In [15]:
A_list

[12, 16, 26.01, True, 36, 'Doll']

In [16]:
type(A_list)

list

In [17]:
A_list[1]

16

In [18]:
A_list[1] = 15

In [19]:
A_list

[12, 15, 26.01, True, 36, 'Doll']

In [20]:
#This is a Tuple data type : Tuple() is Immutable - You cannot update the values 

A_tuple = (12, 17, 22, 26, 36, 60)

In [21]:
type(A_tuple)

tuple

In [22]:
A_tuple[1]

17

In [23]:
#This is a Set data type : Set{} is Immutable - You cannot update the values  
                                # removes duplicated values

A_Set = { 12, 15, 16, 22, 24, 24, 26}

In [24]:
type(A_Set)

set

In [25]:
print(A_Set)

{16, 22, 24, 26, 12, 15}

In [26]:
## To remove duplicated values we can use set 

B_list = [12, 12, 16, 26.01, True, True, 36, "Doll"]

In [27]:
set(B_list)

{12, 16, 26.01, 36, 'Doll', True}

In [28]:
## To return to list

list(set(B_list))

['Doll', True, 36, 12, 16, 26.01]

In [29]:
type(list(set(B_list)))

list

In [30]:
 #This is a Dictionary data type :  Dictionary{'Key': value}

A_dictionary = { 'Name': 'Alex', 'Age': 30, 'Nationality': 'German'}

In [31]:
type(A_dictionary)

dict

In [32]:
print(A_dictionary)

{'Name': 'Alex', 'Age': 30, 'Nationality': 'German'}

In [33]:
A_dictionary['Name']

'Alex'

In [34]:
A_dictionary['Age']

30


## 3. CRUD FOR LISTS

In [35]:
# C - Create

In [36]:
places = ["New York", "Berlin", "Tehran", "Seoul", "London"]
  ##          0    ,     1     ,   2    ,    3   ,     4
  ##         -5    ,    -4    ,   -3    ,   -2   ,    -1

In [37]:
# R - Read

In [38]:
places

['New York', 'Berlin', 'Tehran', 'Seoul', 'London']

In [39]:
## Reading using Index Number
places[2]

'Tehran'

In [40]:
places[-3]

'Tehran'

In [41]:
# How many componants we have in our list.
len(places)

5

In [42]:
# U - Update

In [43]:
places[3] = 'Sydney'

In [44]:
places

['New York', 'Berlin', 'Tehran', 'Sydney', 'London']

In [45]:
places.append('Oslo')

In [46]:
places

['New York', 'Berlin', 'Tehran', 'Sydney', 'London', 'Oslo']

In [47]:
## Add a value to a particular index number
places.insert(3, 'Las Vegas')

In [48]:
places

['New York', 'Berlin', 'Tehran', 'Las Vegas', 'Sydney', 'London', 'Oslo']

In [49]:
# D - Delete

In [50]:
del places[3]
print(places)

['New York', 'Berlin', 'Tehran', 'Sydney', 'London', 'Oslo']

In [51]:
places.clear()

In [52]:
print(places)

[]

In [53]:
places.remove??

Signature: places.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method


## 4. CRUD FOR DICTIONARY

In [54]:
# Create

In [55]:
office = {
    "Name" : "Adam",
    "Age" : 30,
    "Position" : "Manager"    
}

In [56]:
# Read

In [57]:
print(office)

{'Name': 'Adam', 'Age': 30, 'Position': 'Manager'}

In [58]:
office["Age"]

30

In [59]:
office.keys()

dict_keys(['Name', 'Age', 'Position'])

In [60]:
office.values()

dict_values(['Adam', 30, 'Manager'])

In [61]:
# Update

In [62]:
office["Position"] = "HR"
print(office)

{'Name': 'Adam', 'Age': 30, 'Position': 'HR'}

In [63]:
office["Role"] = "recruiting"
print(office)

{'Name': 'Adam', 'Age': 30, 'Position': 'HR', 'Role': 'recruiting'}

In [64]:
# Delete

In [65]:
del office["Role"]

In [66]:
office

{'Name': 'Adam', 'Age': 30, 'Position': 'HR'}