# Hands on Python Data Science - Data Science Bootcamp - Part-3


## 9. Looping Through Dictionaries

In [1]:
athlete = {
    "Name" : "Aldrin",
    "Age" : "Twenty One",
    "Height" : "Five Feet 10 Inches",
    "Weight" : "Sixty Kilos"
}

In [2]:
# Looping through only the keys 

for keys in athlete.keys():      # in For you can write anything instead of keys,but that should be repeated in print().
    print(keys)

Name
Age
Height
Weight

In [3]:
athlete.keys()

dict_keys(['Name', 'Age', 'Height', 'Weight'])

In [4]:
# Looping through only the values 

for values in athlete.values():
    print(values)

Aldrin
Twenty One
Five Feet 10 Inches
Sixty Kilos

In [5]:
athlete.values()

dict_values(['Aldrin', 'Twenty One', 'Five Feet 10 Inches', 'Sixty Kilos'])

In [6]:
# Looping through both keyvalue pair

for keyvalue in athlete.items():
    print(keyvalue)

('Name', 'Aldrin')
('Age', 'Twenty One')
('Height', 'Five Feet 10 Inches')
('Weight', 'Sixty Kilos')

In [7]:
athlete.items()

dict_items([('Name', 'Aldrin'), ('Age', 'Twenty One'), ('Height', 'Five Feet 10 Inches'), ('Weight', 'Sixty Kilos')])


## 10. List Comprehensions

In [8]:
my_friends = ["nathan", "rayan", "aaron", "edwin"]

In [9]:
update_my_friends = [friends.title() for friends in my_friends]

In [10]:
update_my_friends

['Nathan', 'Rayan', 'Aaron', 'Edwin']

In [11]:

my_friends_2 = ["nathan ake", "rayan ramsdale", "aaron giggs", "edwin parker"]

In [12]:
update_my_friends_2 = [friends.title() for friends in my_friends_2]

In [13]:
update_my_friends_2

['Nathan Ake', 'Rayan Ramsdale', 'Aaron Giggs', 'Edwin Parker']

In [18]:
new_update = ["Mr. " + friends for friends in update_my_friends_2]

In [19]:
new_update

['Mr. Nathan Ake', 'Mr. Rayan Ramsdale', 'Mr. Aaron Giggs', 'Mr. Edwin Parker']


## 11. Defining a Function

In [23]:
def welcoming():
    print("Hi there! ")
    print(4+6)
    print(4*3)

In [24]:
welcoming()

Hi there!
10
12

In [25]:
for index in range(4):
    welcoming()

Hi there!
10
12
Hi there!
10
12
Hi there!
10
12
Hi there!
10
12


## 12. Positional Arguments

In [26]:

print("Hi there! {} {} ".format( "Brad", "Haddian"))

Hi there! Brad Haddian

In [30]:

def updating_welcoming(name):
    print("Hi there! {} ".format(name) )

In [32]:
updating_welcoming("Alex")

Hi there! Alex

In [27]:
persons = ["Alan", "David", "Jerry", "Tim"]

In [33]:

for person in persons:
    updating_welcoming(person)

Hi there! Alan
Hi there! David
Hi there! Jerry
Hi there! Tim


## 13. Multiple Positional Arguments

In [34]:

def updating_info(name, country):
    print("Hi there! {} from {} ".format(name, country))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [36]:
updating_info("Jacob", "Italy")

Hi there! Jacob from Italy

In [37]:
updating_info("Albert", "Germany")

Hi there! Albert from Germany